{% extends 'store/base.html' %}
{% load static %}
{% block title %}
    Reset password
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'reset_pswrd.css' %}">
{% endblock %}


{% block content %}
    <section id='reset'>
        <h3 style='margin-bottom:1.2%;'>Enter new password.</h3>
        <form method='post'>
            {% csrf_token %}
            <div class='form-group'>
                <h5>New Password</h5>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
                <br>
                {{ form.new_password1.help_text }}
            </div>
            <div class='form-group'>
                <h5>Confirm New Password</h5>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <button class='btn btn-primary'>Submit</button>
        </form>
    </section>
{% endblock %}